<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <link rel="stylesheet" href="<%= assetPath('css/layout.css') %> " type="text/css">
    <link rel="stylesheet" href="<%= assetPath('css/home.css') %> " type="text/css">
    <link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %> " type="text/css">
    <%- style %>
</head>

<body>
    <%- include('_header'); %>

        <% if(flash.success && flash.success.length> 0) {%>
            <%= flash.success %>
                <% } %>

                    <%- body %>
                        <%- include('_chat_box'); %>
                            <%- include('_footer'); %>

                                <%- script %>
                                    <script>
            <% if (flash.success && flash.success.length > 0) { %>
                                            new Noty({
                                                text: "<%= flash.success%>",
                                                theme: 'relax',
                                                type: 'success',
                                                layout: 'topRight',
                                                timeout: 1500
                                            }).show();                  

                <% } %>
                <% if (flash.error && flash.error.length > 0) { %>
                                            new Noty({
                                                text: "<%= flash.error%>",
                                                theme: 'relax',
                                                type: 'error',
                                                layout: 'topRight',
                                                timeout: 1500
                                            }).show();                

                <% } %>
                                    </script>


</body>

</html>